<!DOCTYPE html>
<html>

<head>
  <title>Registration</title>
  <link rel="stylesheet" href="/stylesheets/output.css" />
</head>

<body class="bg-gray-800 mt-32 flex flex-col items-center justify-center">
  <div class="w-full max-w-xl text-center bg-white py-10 my-6 rounded-3xl border-none">
    <h1 class="font-extrabold text-6xl text-gray-800 mb-4">Welcome</h1>
    <h3 class="text-2xl font-medium text-gray-800 mb-8">
      Registration Form for User Details
    </h3>

    <div class="flex flex-col sm:flex-row justify-center items-center gap-4">
      <a href="/admin"
        class="font-semibold px-6 py-3 bg-gray-800 text-white rounded-full shadow-md hover:bg-gray-700 transition duration-300 ease-in-out cursor-pointer">
        Admin
      </a>
      <a href="/registrationForm"
        class="font-semibold px-6 py-3 bg-gray-800 text-white rounded-full shadow-md hover:bg-gray-700 transition duration-300 ease-in-out cursor-pointer">
        Register here
      </a>
    </div>
  </div>
</body>

</html>